<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SandBox</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
</head>
<body class="container mt-5 mb-5" >
    <div id="app">
        <div class="mb-5 ">
            <div >
                <p>Prenom: {{ prenom }} </p>
                <p>Nom:  {{ nom }}</p>
                <p >Date: {{ today }}</p>
                <p>Nom complet: {{ nomComplet }}</p>
                <p>Année: {{ birthday }}</p>
            </div>
            
            <p v-if="showStory == true" > {{ story }}</p>
            <p v-else>{{ story | excerpt}}</p>
            <button @click="showMore">Lire plus</button>
            <ul>
                <li v-for="voyage of voyages">{{voyage}} </li>
            </ul>
        </div>
        
        <h1 v-bind:title="time" >Horloge: {{ time }}</h1>
        <div style="margin-top: 30px;" action="">

            <div style="margin-bottom: 25px;">
                <label for="prenom">Prenom:</label>
                <input name="prenom"  type="text" v-model="prenom" />
            </div>
           
            <div style="margin-bottom: 25px;">
                <label for="nom">Nom:</label>
                <input name="nom" type="text" v-model="nom" />
            </div>
            
            <div style="margin-bottom: 25px;">
                <label for="birthday">Année de naissance:</label>
                <input name="birthdayYear" type="number" v-model.number="birthdayYear" />
            </div>

            <div style="margin-bottom: 25px;">
                <label style="display: block;" for="story">Histoire:</label>
               <textarea name="story" id="" cols="30" rows="10" v-model="story"></textarea>
            </div>
            
            <div style="margin-bottom: 25px;">
                <label for="showStory"> Voulez vous afficher l'histoire</label>
                <input name="showStory" type="radio" v-model="showStory" v-bind:value="true" /> Oui
                <input name="showStory" type="radio" v-model="showStory" v-bind:value="false" /> Non
            </div>

            <form  style="margin-bottom: 25px;">
                <select v-on:change="addVoyage" v-model="newVoyage">
                    <option disabled value="">Choisissez</option>
                    <option >France</option>
                    <option>Russie</option>
                    <option>Espagne</option>
                  </select>
            </form>

            <h1>Méthodes personnalisée</h1>
            <div style="margin-bottom: 25px;">
                <label style="display: block;" for="prix">Prix:</label>
               <input min="0" type="number" name="prix" v-model="prix"></input>
            </div>

            <div style="margin-bottom: 25px;">
                <label style="display: block;" for="quantite">Quantité:</label>
               <input  min="0" type="number" name="quantite" id="" v-model="quantite"></input>
            </div>

            <div style="margin-bottom: 25px;">
                <label style="display: block;" for="tauxTva">Taux de TVA:</label>
               <select name="tauxTva" id="" v-model="tauxUse">
                    <option v-for="taux of tauxTva" >{{taux}}</option>
            
               </select>
            </div>
            <button name="tvaPrice" @click="tvaPrice">Calculer prix avec TVA</button>
            <button name="noTvaPrice" @click="noTvaPrice">Calculer prix sans TVA</button>
            <p>Montant avec TVA: {{ prixAvecTva }}</p>
            <p>Montant sans TVA: {{ prixSansTva }}</p>
            
            
        </div>

        
        <random-number min="5" max="15"></random-number> 
        <random-number min="20" max="35"></random-number>       
    </div>
    
    <script src="js/vue.js"></script>
</body>

</html>